<!doctype html>
<html lang="en">
<head>
    <title>Drug Bank</title>
    <style>
        body {
            margin: 0;
            font-family: "Roboto Light";
        }
        .topnav input[type=text] {
            float: center;
            padding: 10px;
            margin-top: 10px;
            margin-right: 10px;
            font-size: 25px;
        }
    </style>
</head>
<body style="background-color:black;">
<FONT COLOR="#daaa00">
    <h1><center>Drug Bank</center></h1>
    <p><center>By Adam, Kaitlyn, Nikhil</center></p>
</body>
<!-- IMG -->
<center>
<div class="search">
    <a href="#" id="Peter Griffin"><img src="https://upload.wikimedia.org/wikipedia/en/c/c2/Peter_Griffin.png"/></a>
</div>
<!-- FORM SEARCH -->
<div class="topnav">
    <form action="/search" method="post">
        <input type="text" name="search_term" placeholder="  Search Drugs Here!">
        <input type="submit" value="Search">
    </form>
</div>
</html>
