<!doctype html>
<html lang="en">
<head>
    <title>Drug Bank</title>
    <style>
        body {
            margin: 0;
            font-family: "Roboto Light";
        }
        .topnav input[type=text] {
            overflow:
            float: center;
            padding: 10px;
            margin-top: 10px;
            margin-right: 10px;
            font-size: 25px;
        }
    </style>
</head>
<body style="background-color:black;">
<FONT COLOR="#daaa00">
    <h1><center>Drug Bank</center></h1>
    <p><center>By Adam, Kaitlyn, Nikhil</center></p>
</body>
<!-- IMG -->
<center>
<div class="search">
    <a href="#" id="Peter Griffin"><img src="https://upload.wikimedia.org/wikipedia/en/c/c2/Peter_Griffin.png"/></a>
</div>
<!-- FORM SEARCH -->
<div class="topnav">
<div class="topnav">
                <input type="text" id="searchInput" placeholder="Search Drugs...">
                <br>
            </div> <!-- Close the topnav div -->
        </p2>
    </div>

    <script>
        // JavaScript code to make the search bar work
        document.getElementById("searchInput").addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                var input = document.getElementById('searchInput');
                var searchValue = input.value.toLowerCase();
                if (searchValue === "aspirin") {
                    window.location.href = "http://127.0.0.1:8001//results";
                }
            }
        });
    </script>
</div>
</html>
